* {
  font-size: 16px;
}
/* modified header */
.header {
  display: flex;
  background-color: rgb(49, 53, 77);
  justify-content: space-between;
  align-items: center;
}
/* modified name */
.header h1.name {
  display: flex;
  font-size: 50px;
  background-color: lightblue;
  margin: 16px 0;
  padding: 8px 16px 8px 50px;
}
/* increasing selector specifity  */
.header nav {
  margin-right: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar li {
  margin-left: 16px;
}

/* modified navlink  */
.navlink {
  display: flex;
  font-size: 30px;
  color: lightblue;
  text-decoration: none;
  border-bottom: 4px solid;
  padding-bottom: 4px;
}

/* modified h2 */
.h2 {
  font-size: 40px;
  background-color: lightblue;
  padding: 8px;
  margin: 0 50px 16px 0;
}

/* added image to css directly so its eaisily modified in background */
.palmtrees {
  background-image: url("https://images.unsplash.com/photo-1580629844914-374f3b707fe5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHBhbG0lMjB0cmVlc3xlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
}
