* {
  font-size: 16px;
}

.header {
  display: flex;
  background-color: rgb(49, 53, 77);
  justify-content: space-between;
  align-items: center;
}

.header h1.name {
  display: flex;
  font-size: 50px;
  background-color: lightblue;
  margin: 16px 0;
  /* padding shorthand - top, right, bottom, left */
  padding: 8px 16px 8px 50px;
}
/*increasing selector specifity */
.header nav {
  margin-right: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar li {
  margin-left: 16px;
}

.navlink {
  display: flex;
  font-size: 30px;
  color: lightblue;
  text-decoration: none;
  border-bottom: 4px solid;
  padding-bottom: 4px;
}

.h2 {
  font-size: 40px;
  background-color: lightblue;
  padding: 8px;
  margin: 0 50px 16px 0;
}

/* added image to css directly so its eaisily modified in background with url */
.pattern {
  background-image: url(https://images.unsplash.com/photo-1565638459249-c85cbb2faaa8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHBhdHRlcm58ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
}

/* working on styling this section correctly */
.mybio {
  color: darkblue;
}

.mybio h3 {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 50px;
  flex-direction: column;
}

.mybio p {
  display: flex;
  justify-content: center;
}
/* added class, no links yet */
.showcase {
  color: darkblue;
}

.showcase h3 {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 50px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact h3 {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 50px;
  color: darkblue;
}

.showcase {
  display: flex;
  justify-content: flex-start;
}

.imagecontainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  /* margin-right: 150px;
  margin-bottom: 150px;
  margin-top: 100px; */
  margin: 100px 150px 150px 0px;
}

img {
  display: flex;
  width: 300px;
  height: 300px;
}

.contact ul {
  display: flex;
  align-items: center;
  margin-left: 50px;
  /* need to remove default link underline */
  text-decoration: none;
}

.email,
.github,
.linkedin,
.number {
  margin-left: 50px;
  border-bottom: 4px solid;
  padding-bottom: 4px;
  border-color: darkblue;
}
